@charset "UTF-8";
body, p, ul, li, ol, h1, h2, h3, h4, h5, h6, fieldset, legend, dl, dt, dd, input, textarea {
  margin: 0;
  padding: 0; }

body {
  font-family: tahoma, arial, "微软雅黑", "Hiragino Sans GB", sans-serif !important; }

ul, li {
  list-style: none; }

a, a:hover {
  text-decoration: none;
  color: #000000; }

html, body {
  background: #f2f2f2 !important; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

.clear:after {
  content: ".";
  clear: both;
  display: none;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/*h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}*/
em, i {
  font-style: normal; }

/*头部广告位置处*/
.top_adver {
  width: 100%;
  min-width: 1190px;
  height: 80px; }

.top_adver img {
  width: 100%;
  min-width: 1190px;
  height: 80px;
  display: block; }

/*登录、注册等信息处*/
.infor_com {
  height: 30px;
  color: #666666;
  background: #f2f2f2;
  font-size: 12px; }

.infor_box {
  width: 1190px;
  height: 30px;
  margin: 0 auto; }

.names_t {
  width: 100px;
  height: 30px;
  line-height: 30px;
  float: left; }

/*登录注册部分列表*/
.infor_list {
  height: 30px;
  float: left; }

.infor_list li {
  float: left;
  height: 30px;
  line-height: 30px; }

.infor_list li a {
  padding: 0 15px;
  color: #666666; }
.infor_list li a:hover {
  color: #d30939; }

.infor_list li.mobile_dw {
  position: relative; }

.infor_list li.mobile_dw:hover .qr {
  display: block; }

.qr {
  width: 167px;
  height: 167px;
  position: absolute;
  top: 37px;
  left: -30px;
  border: 1px solid #ccc;
  background: #fff;
  display: none;
  z-index: 10; }

.qr span {
  width: 10px;
  height: 7px;
  display: block;
  position: absolute;
  top: -7px;
  left: 45%;
  background: url(../img/icon.png) no-repeat 0 -26px; }

.qr img {
  width: 163px;
  height: 163px;
  margin: 2px auto;
  display: block; }

/*订单、个人中心列表*/
.my_list {
  height: 30px;
  float: right; }

.my_list li {
  height: 30px;
  line-height: 30px;
  float: left;
  position: relative; }

.my_list li a {
  padding: 0 15px;
  color: #666; }
.my_list li a:hover {
  color: #d30939; }

.my_list li a span {
  width: 7px;
  height: 4px;
  position: absolute;
  top: 14px;
  right: 5px;
  background: url(../img/icon.png) no-repeat -8px 0; }

.my_list li.gr_hover:hover,
.my_list li.kf_hover:hover {
  background: #d0cece;
  color: #d0cece; }

.my_list li.gr_hover:hover .gr_list {
  display: block; }

.my_list li.kf_hover:hover .kf_list {
  display: block; }

.my_list li.gr_hover:hover span,
.my_list li.kf_hover:hover span {
  background: url(../img/icon.png) no-repeat 0 0; }

.gr_list {
  width: 150px; }

.kf_list, .gr_list {
  position: absolute;
  top: 30px;
  left: 0;
  background: #d0cece;
  display: none; }

.kf_list li, .gr_list li {
  width: 100%;
  text-align: center;
  border-top: 1px solid #FFFFFF; }

/*logo、搜索框*/
.ise_com {
  height: 130px;
  background: #fff; }

.ise_box {
  width: 1190px;
  height: 130px;
  margin: 0 auto; }

.logo_img {
  width: 258px;
  height: 66px;
  display: block;
  float: left;
  margin-top: 32px; }

.adver_sp {
  width: 210px;
  height: 80px;
  float: left;
  margin: 25px 0 0 100px; }

.input_box {
  width: 430px;
  height: 104px;
  float: right;
  margin-top: 14px; }

.title_list {
  width: 136px;
  height: 28px; }
  .title_list li {
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #d30939;
    float: left;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF; }
  .title_list li.bjRed {
    color: #FFFFFF; }

.select_box {
  width: 430px;
  height: 40px;
  background: red; }
  .select_box input[type="text"] {
    width: 336px;
    height: 36px;
    line-height: 36px;
    float: left;
    border: 2px solid #d30939;
    outline: none;
    padding: 0 5px;
    color: #666666; }
  .select_box input[type="submit"] {
    width: 80px;
    height: 40px;
    float: left;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    background: #d30939; }

.a_linkBox {
  margin-top: 7px;
  float: left; }
  .a_linkBox span {
    font-size: 14px;
    color: #cccccc;
    margin-right: 5px; }
  .a_linkBox span:hover {
    color: #d30939; }

/*菜单导航*/
.nav_com {
  height: 40px;
  background: #262626; }

.nav_menu {
  width: 1190px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  position: relative; }

.nav_all {
  background: #d30939;
  cursor: pointer;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 200px; }

.nav_list {
  width: 690px;
  height: 40px;
  float: left; }
  .nav_list li {
    height: 40px;
    line-height: 40px;
    padding: 0 35px;
    float: left;
    cursor: pointer; }
    .nav_list li a {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold; }
      .nav_list li a span {
        width: 21px;
        height: 20px;
        display: block;
        float: left;
        margin: 9px 5px 0 0;
        background: url(../img/icon.png) no-repeat -95px 0; }
  .nav_list li:hover {
    background: #d30939; }

.nav_cart {
  width: 180px;
  height: 40px;
  line-height: 40px;
  float: right;
  background: #d30939;
  font-size: 14px;
  font-weight: bold; }
  .nav_cart a {
    color: #FFFFFF; }
    .nav_cart a span {
      width: 14px;
      height: 14px;
      display: block;
      float: left;
      margin: 12px 5px 0 30px;
      background: url(../img/icon.png) no-repeat -117px 0; }

.menu_item {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10; }

.menu_left {
  background: #262626;
  float: left;
  min-height: 400px;
  width: 200px; }

.menu_item1 {
  border-bottom: 1px solid #666;
  margin: 0 auto;
  width: 90%;
  padding: 15px 0;
  position: relative; }
  .menu_item1 span {
    font-size: 14px; }
  .menu_item1 label {
    position: absolute;
    top: 0;
    left: -10px;
    width: 3%;
    height: 100%;
    background: #d30939; }

.menu_item1:last-child {
  border-bottom: none; }

.menu_list {
  height: 50px;
  overflow: hidden; }
  .menu_list li {
    float: left;
    height: 25px;
    line-height: 25px;
    padding-right: 8px;
    font-size: 12px; }
    .menu_list li a {
      color: #fff; }

.menu_right {
  background: #ffffff;
  display: none;
  float: left;
  height: 400px;
  width: 990px; }

.menu_right li {
  float: left; }

.vt_nav01_more {
  width: 204px; }
  .vt_nav01_more p {
    border-bottom: 1px solid #f2f2f2;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 20px 26px 0; }
  .vt_nav01_more > div {
    margin: 10px 26px 0; }
    .vt_nav01_more > div a {
      color: #333333;
      display: block;
      float: left;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      margin-right: 10px; }
    .vt_nav01_more > div a:hover {
      color: #d30939; }

.vt_nav01_brand {
  width: 414px; }
  .vt_nav01_brand p {
    border-bottom: 1px solid #f2f2f2;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 20px 20px 0;
    text-align: left; }
  .vt_nav01_brand > div {
    margin: 20px 20px 0; }
    .vt_nav01_brand > div a {
      border: 1px solid #f2f2f2;
      display: block;
      float: left;
      height: 44px;
      margin-bottom: 10px;
      margin-right: 4px;
      /*overflow: hidden;*/
      width: 118px; }
      .vt_nav01_brand > div a img {
        height: 100%;
        width: 100%;
        border: none; }

/*底部流程介绍*/
.footer_top {
  width: 100%;
  height: 121px;
  border-bottom: 1px solid #CCCCCC;
  background: #FFFFFF; }

.footer_top_main {
  width: 1190px;
  height: 121px;
  display: block;
  margin: 0 auto;
  background: #FFFFFF;
  overflow: hidden; }

.footer_inforbox {
  width: 100%;
  height: 244px;
  background: #f3f3f3; }

.footer_block {
  width: 1190px;
  height: 206px;
  padding-top: 38px;
  margin: 0 auto;
  background: #f3f3f3; }

.block_one {
  width: 224px;
  height: 164px;
  padding-top: 6px;
  float: left;
  border-right: 1px solid #e5e5e5; }

.phone_png {
  width: 190px;
  padding-bottom: 5px;
  border-bottom: 2px solid #D30939; }
  .phone_png span {
    width: 20px;
    height: 22px;
    display: block;
    margin-top: 2px;
    float: left;
    margin-right: 8px;
    background: url(../img/icon.png) no-repeat -74px 0; }
  .phone_png label {
    color: #d30939;
    font-size: 22px;
    font-weight: bold; }

.time {
  width: 190px;
  text-align: center;
  font-size: 12px;
  color: #D30939;
  margin: 5px 0 10px 0; }

.wx_sina {
  width: 130px;
  height: 32px;
  line-height: 32px;
  color: #808080;
  font-size: 12px;
  margin-left: 23px; }

.wx_sina a {
  position: relative; }

.wx_sina span {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
  background: url(../img/icon.png) no-repeat -132px 0; }

.wx_sina a.wx span {
  margin: 0 0 0 10px;
  background: url(../img/icon.png) no-repeat -165px 0; }

.wx_sina a img {
  width: 96px;
  height: 96px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  position: absolute;
  top: 28px;
  display: none; }

.wx_sina a.wx img {
  left: 18px; }

.wx_sina a.sina img {
  left: -25px; }

.wx_sina a.wx:hover img {
  display: block; }

.wx_sina a.sina:hover img {
  display: block; }

.currency {
  width: 150px;
  height: 164px;
  padding-top: 6px;
  float: left;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #E5E5E5; }

.currency:last-child {
  border: none; }

.currency label {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  text-align: center; }

.currency li {
  width: 100%;
  height: 25px;
  line-height: 30px;
  text-align: center;
  font-size: 12px; }

.currency li a {
  color: #666666; }

.currency li a:hover {
  color: #D30939; }

.block_seven {
  border-left: 1px solid #ffffff;
  float: left;
  height: 164px;
  padding-top: 6px;
  width: 204px; }
  .block_seven span {
    width: 100%;
    text-align: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block; }
  .block_seven img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px; }
  .block_seven label {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #666666; }

.footer_bottom {
  width: 100%;
  height: 175px;
  padding-top: 20px;
  background: #333333; }

.one_list {
  width: 480px;
  height: 25px;
  margin: 0 auto; }
  .one_list li {
    height: 25px;
    float: left;
    color: #cccccc; }
    .one_list li a {
      font-size: 12px;
      color: #cccccc;
      padding: 0 5px; }
      .one_list li a:hover {
        color: #D30939; }

.two_list {
  width: 700px;
  height: 25px;
  margin: 2px auto 0;
  padding-top: 10px; }
  .two_list li {
    float: left;
    color: #CCCCCC;
    text-align: center; }
    .two_list li a {
      font-size: 12px;
      color: #CCCCCC;
      padding: 0 23px;
      position: relative; }
      .two_list li a:hover {
        color: #D30939; }
      .two_list li a span {
        width: 19px;
        height: 19px;
        display: block;
        float: left;
        position: absolute;
        top: -1px;
        left: 0;
        background: url(../img/icon.png) no-repeat -35px 0; }
  .two_list li.pad_pg {
    padding: 0 15px; }
    .two_list li.pad_pg span {
      background: url(../img/icon.png) no-repeat -55px 0; }

.three_list {
  width: 620px;
  text-align: center;
  margin-top: 10px; }
  .three_list li a {
    cursor: default; }
    .three_list li a:hover {
      color: #CCCCCC;
      cursor: default; }

.four_list {
  width: 450px;
  margin-top: 10px; }

/*# sourceMappingURL=global_new.css.map */
